* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background: #1b222f;
  color: #b0b0de;
}

.navbar {
  font-size: 16px;
}

header {
  background-image: url(../img/bg-header.jpg);
  background-size: cover; /* con cover la imagen rellena y compoleta el espacio*/
  color: whitesmoke;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.123);
}
h4,
h6 {
  color: #fff;
}
header {
  padding-top: 100px;
}
header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: greenyellow;
}
header img {
  width: 200px; /* tamaño de la imagen */
  height: 200px; /* mismo valor que width para mantener la forma */
  object-fit: cover; /* recorta la imagen sin deformarla */
  border-radius: 50%; /* hace que sea circular */
  border: 4px solid #fff; /* opcional: borde blanco */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* opcional: sombra */
}

main {
  max-width: 800px;
  margin: 2rem auto; /*al haber solo dos valores esta indicando que es arriba y abajo, derecha e izquierda*/
  padding: 0 1rem;
}

.lista {
  background: #20293b;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.btn {
  background-color: greenyellow !important;
  color: #25273a !important;
  border-radius: 50px !important;
  border: none;
  margin-left: 15px !important;
}
.btn:hover {
  background-color: #05b4ee !important;
  color: #ffffff !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
footer {
  background: #0d0e10;
  color: #6f6f80;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}
